.navbar-links {
    letter-spacing: 6.4px;
    font-family: "Myriad Pro";
    opacity: 0.5;
        
    a {
        color: #000;

        &:hover {
            text-decoration: underline;
            color: #000;
        }
    }
}