.footer {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    letter-spacing: 0.9px;
    padding: 40px;

    .footer-copyright {
        opacity: 0.5;
        margin-left: -10px;
        padding: 10px;
    }

    .footer-links {
        display: flex;
        justify-content: flex-end;
        text-transform: uppercase;
        margin-right: -20px;
        line-height: 32px
    }
}