.footer {
    display: flex;
    justify-content: space-between;

    .footer-copyright {
        font-size: 18px;
        opacity: 0.5;
        letter-spacing: 0.9px;
    }

    .footer-links {
        display: flex;
        justify-content: flex-end;
        text-transform: uppercase;

        a {
            color: #000;

            &:hover {
             text-decoration: underline;   
            }
        }
    }
}