.home {
    display: flex;
}

.home-sort {
    height: 270px;
    margin-left: 5px;

    .home-sort-header {
        margin-top: 50px;
        margin-left: 20px;
        font-size: 24px;
        letter-spacing: 1.54px;
    }

    .home-sort-list {
        list-style-type: none;
        padding: 10px;
        margin: 10px;
        opacity: 0.7;
        line-height: 48px;
        letter-spacing: 1.15px;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    }
}