.products-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    letter-spacing: 0.9px;

    .product {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background-color: #f5f5f5;
        margin: 20px;
        font-weight: 400;
    
        &:hover {
            text-decoration: none;
        }
    
        &-info {
            margin: 30px;
        }
    
        &-image {
            align-self: center;
            width: 160px;
            height: 235px;
        }
    
        &-title {
            margin: 30px 0 0 30px;
        }
    
        &-price {
            margin: 0 0 30px 30px;
            opacity: 0.7;
        }
    }
}

.products-list-pagination {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    
    .page-link {
        color: rgba(0, 0, 0, 0.7);

        &:hover {
            color: rgba(0, 0, 0, 0.7);
        }
    }

    .page-item.active {

        .page-link {
            background-color: rgba(0, 0, 0, 0.4);
            border-color: rgba(0, 0, 0, 0.1);
        }
    }
}
