@import './normalize.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  line-height: 1.7;
  overflow-y: scroll;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #000;
}

.swal-modal {
    .swal-button {
      background-color: rgba(204, 204, 204, 0.7);
      color: rgba(0, 0, 0, 0.4);
      
      &:hover {
        background-color: rgba(204, 204, 204, 0.9);
      }
    }
}

